body {
    background: linear-gradient(70deg, #c00e2f  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #ffe6a8 60%, #ff7ee3 60%);

}


    
table{
    font-family: Arial, Helvetica, sans-serif

}


.table-title {
    background: linear-gradient(70deg, #c00e2f  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #ffe6a8 60%, #ff7ee3 60%);
    
}

button{
    background-color: rgb(63, 63, 63);
    text-decoration: rgb(252, 164, 178);
    border: salmon;
    font-size: 13px;
    color: aliceblue;

}


h5{
    text-align: center;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

h2{

    color: rgb(241, 236, 183);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px; }

    .first-col{
        margin: 0px;
        text-align: center;
        width: 360px;
        height: 160px;
        background: transparent;
        margin: 50px auto;
        padding: 25px;
        box-sizing: content-box;
        }
     


 h3{
     font-size: 60px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     border: 2cm;
     text-align: center;
     cursor: pointer;
 }
 h4{
     text-align: center;
 }

 table{
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
 }

 

 tr{
     border: width 0.5px;
     background-color: rgb(41, 41, 46);
     color: white;
 }

 td{
     border: width 0.5px;
 }

 .center{
     margin-left: auto;
     margin-right: auto;
 }

 .btn {
     text-align:center;
     color: #ffffff;
     background-color: rgb(250, 49, 85);
     border: 2px solid black;
     font-size: 24px;
     border-radius: %;

     
}

 .pop{
     background:  linear-gradient(70deg, #3c3a3a  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #303030 60%, #0e0c0d 60%);
     border: 4px solid rgb(250, 49, 85)
     
    }
